//variables
@text-size-small: 1.25rem;
@text-size-large: 2.5rem;
@text-size-med: 1.75rem;
@text-size-extra-small: 1em;
@background-lightblue: lightblue;
@background-aliceblue: aliceblue;
@nav-bottom-border: 1px solid black;

// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
	padding: 5px;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
.intro{
	display: flex;
	flex-flow: row-reverse wrap;
	justify-content: center;
	align-items: center;
	background-color: @background-lightblue;
		@media(max-width: 500px){
			background: @background-lightblue;
			display: flex;
			flex-flow: column-reverse wrap;
			padding: 10px;
		}
	
	img{
		width: 15%;
		.border;
		
	}
	ul{
		padding: 10px;
		font-size: @text-size-small;
		list-style-type: square;
		list-style-position: inside;
		@media(max-width: 500px){
			
			padding:0px;
		}
		
	}
	p{
		font-size: @text-size-small;
		@media(max-width: 500px){
			
			padding: 10px;
		}
	}
	.p-list{
		width: 25%;
		margin-left: 40px;
		@media(max-width: 500px){
			width: 100%;
			margin: 0;
			display: flex;
			flex-flow: column wrap;
			align-items: center;
		}
		

	}
	button{
		font-size: 15px;
		padding: 10px;
		margin-top: 10px;
		border-radius: 15px;
		background-color: lightslategrey;
		border: 3px solid black;
		width: 200px;
		@media(max-width: 500px){
			width: 50%;
		}
	}
}

header{
	
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: center;
	background: lightgray;
	padding: 15px;
	
	h1{
		font-size: @text-size-large;
		@media (max-width: 700px){
			.h1-span{
				display: none;
			}
		}
		@media(max-width: 500px){
			font-size: @text-size-med;
			padding: 10px;
			.h1-span{
				display: none;
			}
		}
	}
	a{
		margin: 30px;
		font-size: @text-size-small;
		text-decoration: none;
		@media(max-width: 500px){
			font-size: @text-size-small;
			margin: 0px;
			padding: 10px;
			border-bottom: @nav-bottom-border;
			text-align: center;
			
		}
	}
	.top-border{
		@media(max-width: 500px){
			border-top: 1px solid black;
			padding-top: 10px;
		}
	}
	nav{
		@media(max-width: 500px){
			display: flex;
			flex-flow: column wrap;
			width: 100%;

		}
	}
}
.border{
	border: 1px solid red;
}

h2{
	font-size: @text-size-med;
	text-align: center;
	margin-top: 30px;
	
}
//p-list from .intro also effecting .skills
.skills{
	
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	background: white;
	padding: 20px;
	
	
	p{
		font-size: @text-size-small;
		margin-bottom: 20px;
		
		@media(max-width: 500px){
			margin: 0 auto;
			padding: 10px;
		}
	}
	ul{
		font-size: @text-size-small;
		list-style-type: square;
		list-style-position: inside;
		
	}
	li{
		border: 1px solid lightgray;
		padding: 10px;
		background: @background-aliceblue;

	}
	.p-list{
		
		padding: 100px;
		@media(max-width: 500px){
			padding: 10px;
		}
	}
	h2{
		font-size: @text-size-large;
	}
	
	
}

.table-border{
	border: 3px solid black;
}
.work-history{
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 40px;
	background: @background-lightblue;
	@media(max-width: 500px){
		display: flex;
		flex-flow: column wrap;
		align-content: center;
		align-items: center;
	}

	table{
		width: 100%;
		.table-border;
		vertical-align: middle;
	}
	th{
		font-size: @text-size-med;
		height: 50px; 
		padding: 20px;
		font-weight: bold;
		background: lightgrey;
		@media(max-width: 500px){
			height: 20px;
			width: 33%;
			font-size: @text-size-small;
		}
	}
	th, td{
		.table-border;
		height: 30px;
		padding: 20px;
		text-align: center;
		@media(max-width: 500px){
			height: 20px;
			width: 33%;
			
		}
	}
	h2{
		text-align: left;
		padding: 20px;
	}
	td{
		font-size: @text-size-small;
		background: aliceblue;
		@media(max-width: 500px){
			font-size: @text-size-extra-small;
		}
	}
	
}
.contact-me{
	
	p{
		font-size: @text-size-small;
		padding: 10px;
	}
	form{
		font-size: @text-size-small;
		padding: 10px;
	}
	input{
		border: 2px solid lightblue;
		font-size: @text-size-small;
		width: 20%;
		@media(max-width: 500px){
			width: 40%;
		}
	}
	.submit-btn{
		width: 7%;
		height: 40px;
		margin: 10px;
		@media(max-width: 500px){
			width: 30%;
		}
	}
	img{
		width: 33%;
		@media(max-width: 500px){
			display: none;
		}
	}
	.img-contact{
		display: flex;
		flex-flow: row-reverse wrap;
		justify-content: center;
		padding: 20px;
		align-items: center;
		p{
			text-align:center;
			margin-right: 30px;
			@media(max-width: 500px){
				margin: 0px;
			}
		}
	}



}

footer{
	background: gray;
	height: 75px;
	padding: 70px;
	text-align: center;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-flow: column nowrap;
	align-items: center;
	
	img{
		width: 3%;
		padding: 5px;
		@media (max-width: 500px){
			width: 10%;
		}
	}

}
